Repository jenkinsci/pollscm-plugin, pull requests merged in 2024-12, with the labels that each got.

#48 [JENKINS-75008] Replace outdated poll SCM icon with play symbol
  src/main/java/org/jenkinsci/plugins/pollscm/PollNowAction.java
  src/main/webapp/images/24x24/clipboard-play.png
  src/test/java/org/jenkinsci/plugins/pollscm/PollNowActionTest.java
Labels: documentation, bug, tests

#47 [JENKINS-74199] Extract inline script block and event handler in `PollNowAction/action.jelly`
  src/main/resources/org/jenkinsci/plugins/pollscm/PollNowAction/action.jelly
  src/main/resources/org/jenkinsci/plugins/pollscm/PollNowAction/polling.js
Labels: bug

#49 Simplify pom file to better match archetype
  pom.xml
Labels: chore
